.Small{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background-image:url(https://littlealchemy.com/img/library-background.png);
  min-height: 400px;
}
.Total{
  display: flex;
  justify-content: space-around;
}