.App {
  display: flex;
  text-align: center;
  background-color: rgba(179, 163, 179, 0.2);
}
.total-header > svg {
  position: absolute;
  left: 60%;
}
.icon-mess {
  cursor: pointer;
}
.popover-body {
  padding: 0.5rem 0 0.75rem 0.75rem;
}
.content-chat {
  overflow-y: auto;
  margin-top: -7px;
  height: 342px;
}
.content-chat > .messenger {
  margin-top: 10px;
  border: solid 0.5px #707070;
  padding: 10px;
  word-break: break-all;
}
.your-messenger {
  display: flex;
  flex-direction: column;
}
.your-messenger > .title {
  color: blue;
}
.your-messenger > .content {
  margin-top: 5px;
}
.some-body-messenger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.some-body-messenger > .title {
  color: violet;
}
.input-chat {
  display: flex;
  align-items: center;
  border: solid 0.5px #707070;
  padding: 10px;
}
.input-chat > input {
  flex: 1;
  margin-right: 10px;
}
.input-chat > svg {
  cursor: pointer;
  width: 50px;
}
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background-image: url(https://littlealchemy.com/img/library-background.png);
  min-height: 100vh;
  border: solid 1.5px #d6d6d7;
}
.total-target {
  display: flex;
  flex-direction: column;
  width: 82%;
  border: solid 1.5px #d6d6d7;
}
.drop-Target {
  display: flex;
  background-image: url(https://littlealchemy.com/img/workspace-background.png);
  flex: 1;
}
.row {
  margin-left: -25px !important;
  margin-right: -25px !important;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}

.process-bar {
  position: absolute;
  height: 50px;
  background: #a6dcef;
  z-index: -1;
  transition: all 700ms ease-in-out;
}

#test-scrollbar-style::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}

#test-scrollbar-style::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(255, 255, 255, 1);
}

#test-scrollbar-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(100, 102, 107, 0.7);
}
