html, body {
  width: 100%;
  height: 100%;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;
  background-color: rgba(179, 163, 179, 0.2);
}
.item-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background-image:url(https://littlealchemy.com/img/library-background.png);
  height: 100vh;
  border: solid 1.5px #d6d6d7;
}
.total-target{
  display: flex;
  flex-direction: column;
  width: 82%;
  height: 100vh ;
  border: solid 1.5px #d6d6d7;
}
.drop-Target{
  display: flex;
  background-image:url(https://littlealchemy.com/img/workspace-background.png);
  flex: 1;
}