.App{
  display: flex;
  text-align: center;
  background-color: rgba(179, 163, 179, 0.2);
}
.item-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  background-image:url(https://littlealchemy.com/img/library-background.png);
  min-height: 93.75px;
}
.total-target{
  display: flex;
  flex-direction: column;
  width: 82%;
}